@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200..400&display=swap');



:root{
    --color-primario: #F3F5FC;
    --color-secundario: #0A3871;
    --color-terciario: #f6f6f6;
    --fuente-monserrat: 'Montserrat', sans serif;
    --fuente-inter: inter;
    --fuente-krona: 'krona', sans serif;
}

* {
    padding: 0;
    margin:0;
    font-family: inter;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
}



body{
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.logo{
    padding-top: 30px;
    margin-left: 10px;
    width: 10%;
}
.principal{
    
    background: var(--color-primario);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    height: 90vh;
    padding-left: 0px;
    max-height: 90vh;
    max-width: 100vh;
    margin-left: 80px;
    margin-bottom: 50px;
    gap: 80px;
}

.seccion{
    background-color: var(--color-primario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vh;
   

}


.seccion2{
    bottom: 1px;
    background-image: url("./fotos/1.png");
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    align-items: flex-end;
  /*  clip-path: inset(0 round 24px); 
    overflow: visible; Asegura que los bordes redondeados se apliquen */
}




.letras{
    display: flex;
    align-items: flex-end; 
    color: #0A3871;
    width: 680px;
    margin-left: 240px;
    font-family: inter;
    font-size: 20px;
    flex: 6;
    text-align: center;
    order: 2;
 
}
.botones{
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    order: 3;
    margin-left: 240px;
    gap: 20px;
}

.boton1{
  
    background-color: #0A3871;
    border: 1px solid #0A3871;
    width: 18.5rem;/*328*/
    height: 67px;
    text-align: center;
    border-radius: 24px;
    font-family: inter;
    font-size: 16px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}

.boton2{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    width: 18.5rem;
    height: 67px;
    text-align: center;
    border-radius: 24px;
    font-family: inter;
    font-size: 16px;
    padding-left: 20px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;

}


.boton3 {
    display: block;
    margin: 0 auto;
    position: absolute;
    background-color: lightblue;
    width: 328px;
    height: 67px;
    
    color: #0A3871;
    border: none;
    bottom: -30px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 24px;
    border: 1px solid #0A3871;
}
.centrar_boton{
    display: flex;
    justify-content: center;
}
.boton-centro{
   
   padding-right: 380px;
   padding-bottom: 0px;
  
}

.textarea1 textarea{
    display: flex;
    flex: 1;
    resize: none;
    margin-top: 20px;
   
    text-transform: lowercase;
    border: none;
    resize: none;
    outline: none;
    /*border-radius: 10px;*/
    /*border-color: #230ee1;*/
    max-height: 288px;
 
    margin-left: 240px;
    max-width: 400px;
    height: 3rem;
    top: 168px;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    order: 1;

}
::placeholder{color: var(--color-secundario);}

textarea:is(:focus, :valid){
   /* border-width: 2px;
    border-color: rgb(98, 222, 16);*/
    padding: 5px;
    outline: none;
}

textarea::-webkit-scrollbar{
    width: 10px;
}

#texto-derecho {
    width: 100%;
}
#texto-izquierdo {
    width: 100%;
}



p{  
    background-color: white;
    border-radius: 24px;
    font-family: var(--fuente-inter);
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    font-size: 24px;
    font-weight: 400;
    width: 400px;
    justify-content: flex-start;
    gap: 50px;
    
}
.fuente{
    font-family: var(--fuente-krona);
    font-size: 12px;
    width: 400px;
}


@media (max-width: 840px) {
    .principal {
    flex-direction: column;
    height: auto;
    width: auto;
   /* Otras propiedades, si es necesario */
}


    .seccion {
        width: auto;

    }

    .textarea1{
        height: auto;
        width: auto;
        font-size: small;
    }
    .botones{

        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
       
    
    }
    .boton1{
  
        background-color: #0A3871;
        border: 1px solid #0A3871;
        width: 15rem;/*328*/
        height: 67px;
        text-align: center;
        border-radius: 24px;
        font-family: inter;
        font-size: 16px;
        font-weight: 600;
        padding: 21.5px 0;
        text-decoration: none;
        color: white;
        font-family: 'Montserrat', sans-serif;
        
    }
    .boton2{
        background-color: #D8DFE8;
        border: 1px solid #0A3871;
        width: 15rem;
        height: 67px;
        text-align: center;
        border-radius: 24px;
        font-family: inter;
        font-size: 16px;
        padding-left: 20px;
        font-weight: 600;
        padding: 21.5px 0;
        text-decoration: none;
        color: #000000;
    
    }

}

@media (max-width: 432px){
.principal {
flex-direction: column;
justify-content: left;
height: auto;
width: 50vh;
margin-left: 0px;
}
/* Otras propiedades, si es necesario */

.seccion{
    justify-content: left;
    width: 50vh;
}
.textarea1 textarea{
    height: auto;
    margin-left: 0px;
    width: 20vh;
    flex: 1;
    font-size: 1rem;
}
.botones{

    display: flex;
    flex-direction: column;
    justify-content:left;
    width: auto;
    flex: 1;

}
.boton1{
  
    background-color: #0A3871;
    border: 1px solid #0A3871;
    width: 15rem;/*328*/
    height: 67px;
    text-align: center;
    border-radius: 24px;
    font-family: inter;
    font-size: 16px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}
.boton2{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    width: 15rem;
    height: 67px;
    text-align: center;
    border-radius: 24px;
    font-family: inter;
    font-size: 16px;
    padding-left: 20px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;

}


.letras{
    display: flex;
    align-items: flex-end; 
    color: #0A3871;

    margin-left: 240px;
    font-family: inter;
    font-size: 1,5rem;
    flex: 6;
    text-align: center;
    order: 2;

}


}


